.i_i_o{
    width: 100%;
    background-color: silver;
    border-radius: 5px;
}




.i_i_o:hover {opacity: 0.8;}




.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


















